###### import libaraies

In [1]:
import pandas as pd

 ###### Read data frame

In [2]:
! ls

Making changes on the data frame.ipynb python course presention.pptx
Read and investigate the data.ipynb    titanic.csv
Untitled.ipynb

In [10]:
pd.set_option('display.max_rows', df.shape[0]+1)

In [20]:
df.shape[0]+1

892

In [3]:
df = pd.read_csv('titanic.csv')

###### Display data frame  = df , head .tail

In [11]:
df.head(100)

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,A/5 21171,7.2500,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,PC 17599,71.2833,C85
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,STON/O2. 3101282,7.9250,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,113803,53.1000,C123
4,5,0,3,"Allen, Mr. William Henry",male,35.00,373450,8.0500,NaN
5,6,0,3,"Moran, Mr. James",male,NaN,330877,8.4583,NaN
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,17463,51.8625,E46
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,349909,21.0750,NaN
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,347742,11.1333,NaN
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,237736,30.0708,NaN
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,PP 9549,16.7000,G6
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,113783,26.5500,C103
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,A/5. 2151,8.0500,NaN
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,347082,31.2750,NaN
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,350406,7.8542,NaN
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,248706,16.0000,NaN
16,17,0,3,"Rice, Master. Eugene",male,2.00,382652,29.1250,NaN
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,244373,13.0000,NaN
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,345763,18.0000,NaN
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,2649,7.2250,NaN
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,239865,26.0000,NaN
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,248698,13.0000,D56
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,330923,8.0292,NaN
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,113788,35.5000,A6
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,349909,21.0750,NaN
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,347077,31.3875,NaN
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,2631,7.2250,NaN
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,19950,263.0000,C23 C25 C27
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,330959,7.8792,NaN
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,349216,7.8958,NaN
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,PC 17601,27.7208,NaN
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,PC 17569,146.5208,B78
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,335677,7.7500,NaN
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,C.A. 24579,10.5000,NaN
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,PC 17604,82.1708,NaN
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,113789,52.0000,NaN
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,2677,7.2292,NaN
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,A./5. 2152,8.0500,NaN
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,345764,18.0000,NaN
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,2651,11.2417,NaN
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,7546,9.4750,NaN
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,11668,21.0000,NaN
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,349253,7.8958,NaN
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,SC/Paris 2123,41.5792,NaN
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,330958,7.8792,NaN
45,46,0,3,"Rogers, Mr. William John",male,NaN,S.C./A.4. 23567,8.0500,NaN
46,47,0,3,"Lennon, Mr. Denis",male,NaN,370371,15.5000,NaN
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,14311,7.7500,NaN
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2662,21.6792,NaN
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,349237,17.8000,NaN
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,3101295,39.6875,NaN
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,A/4. 39886,7.8000,NaN
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,PC 17572,76.7292,D33
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,2926,26.0000,NaN
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,113509,61.9792,B30
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,19947,35.5000,C52
56,57,1,2,"Rugg, Miss. Emily",female,21.00,C.A. 31026,10.5000,NaN
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,2697,7.2292,NaN
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,C.A. 34651,27.7500,NaN
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,CA 2144,46.9000,NaN
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,2669,7.2292,NaN
61,62,1,1,"Icard, Miss. Amelie",female,38.00,113572,80.0000,B28
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,36973,83.4750,C83
63,64,0,3,"Skoog, Master. Harald",male,4.00,347088,27.9000,NaN
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,PC 17605,27.7208,NaN
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,2661,15.2458,NaN
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,C.A. 29395,10.5000,F33
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,S.P. 3464,8.1583,NaN
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,3101281,7.9250,NaN
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,315151,8.6625,NaN
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,C.A. 33111,10.5000,NaN
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,CA 2144,46.9000,NaN
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,S.O.C. 14879,73.5000,NaN
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,2680,14.4542,NaN
74,75,1,3,"Bing, Mr. Lee",male,32.00,1601,56.4958,NaN
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,348123,7.6500,F G73
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,349208,7.8958,NaN
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,374746,8.0500,NaN
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,248738,29.0000,NaN
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,364516,12.4750,NaN
80,81,0,3,"Waelens, Mr. Achille",male,22.00,345767,9.0000,NaN
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,345779,9.5000,NaN
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,330932,7.7875,NaN
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,113059,47.1000,NaN
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,SO/C 14885,10.5000,NaN
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3101278,15.8500,NaN
86,87,0,3,"Ford, Mr. William Neal",male,16.00,W./C. 6608,34.3750,NaN
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,SOTON/OQ 392086,8.0500,NaN
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,19950,263.0000,C23 C25 C27
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,343275,8.0500,NaN
90,91,0,3,"Christmann, Mr. Emil",male,29.00,343276,8.0500,NaN
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,347466,7.8542,NaN
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,W.E.P. 5734,61.1750,E31
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,C.A. 2315,20.5750,NaN
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,364500,7.2500,NaN
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,374910,8.0500,NaN
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,PC 17754,34.6542,A5
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,PC 17759,63.3583,D10 D12
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,231919,23.0000,NaN
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,244367,26.0000,NaN

In [18]:
df.tail(100)

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin
791,792,0,2,"Gaskell, Mr. Alfred",male,16.00,239865,26.0000,NaN
792,793,0,3,"Sage, Miss. Stella Anna",female,NaN,CA. 2343,69.5500,NaN
793,794,0,1,"Hoyt, Mr. William Fisher",male,NaN,PC 17600,30.6958,NaN
794,795,0,3,"Dantcheff, Mr. Ristiu",male,25.00,349203,7.8958,NaN
795,796,0,2,"Otter, Mr. Richard",male,39.00,28213,13.0000,NaN
796,797,1,1,"Leader, Dr. Alice (Farnham)",female,49.00,17465,25.9292,D17
797,798,1,3,"Osman, Mrs. Mara",female,31.00,349244,8.6833,NaN
798,799,0,3,"Ibrahim Shawah, Mr. Yousseff",male,30.00,2685,7.2292,NaN
799,800,0,3,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.00,345773,24.1500,NaN
800,801,0,2,"Ponesell, Mr. Martin",male,34.00,250647,13.0000,NaN
801,802,1,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",female,31.00,C.A. 31921,26.2500,NaN
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,113760,120.0000,B96 B98
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,2625,8.5167,NaN
804,805,1,3,"Hedman, Mr. Oskar Arvid",male,27.00,347089,6.9750,NaN
805,806,0,3,"Johansson, Mr. Karl Johan",male,31.00,347063,7.7750,NaN
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.00,112050,0.0000,A36
807,808,0,3,"Pettersson, Miss. Ellen Natalia",female,18.00,347087,7.7750,NaN
808,809,0,2,"Meyer, Mr. August",male,39.00,248723,13.0000,NaN
809,810,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.00,113806,53.1000,E8
810,811,0,3,"Alexander, Mr. William",male,26.00,3474,7.8875,NaN
811,812,0,3,"Lester, Mr. James",male,39.00,A/4 48871,24.1500,NaN
812,813,0,2,"Slemen, Mr. Richard James",male,35.00,28206,10.5000,NaN
813,814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.00,347082,31.2750,NaN
814,815,0,3,"Tomlin, Mr. Ernest Portage",male,30.50,364499,8.0500,NaN
815,816,0,1,"Fry, Mr. Richard",male,NaN,112058,0.0000,B102
816,817,0,3,"Heininen, Miss. Wendla Maria",female,23.00,STON/O2. 3101290,7.9250,NaN
817,818,0,2,"Mallet, Mr. Albert",male,31.00,S.C./PARIS 2079,37.0042,NaN
818,819,0,3,"Holm, Mr. John Fredrik Alexander",male,43.00,C 7075,6.4500,NaN
819,820,0,3,"Skoog, Master. Karl Thorsten",male,10.00,347088,27.9000,NaN
820,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.00,12749,93.5000,B69
821,822,1,3,"Lulic, Mr. Nikola",male,27.00,315098,8.6625,NaN
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.00,19972,0.0000,NaN
823,824,1,3,"Moor, Mrs. (Beila)",female,27.00,392096,12.4750,E121
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,3101295,39.6875,NaN
825,826,0,3,"Flynn, Mr. John",male,NaN,368323,6.9500,NaN
826,827,0,3,"Lam, Mr. Len",male,NaN,1601,56.4958,NaN
827,828,1,2,"Mallet, Master. Andre",male,1.00,S.C./PARIS 2079,37.0042,NaN
828,829,1,3,"McCormack, Mr. Thomas Joseph",male,NaN,367228,7.7500,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.00,113572,80.0000,B28
830,831,1,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.00,2659,14.4542,NaN
831,832,1,2,"Richards, Master. George Sibley",male,0.83,29106,18.7500,NaN
832,833,0,3,"Saad, Mr. Amin",male,NaN,2671,7.2292,NaN
833,834,0,3,"Augustsson, Mr. Albert",male,23.00,347468,7.8542,NaN
834,835,0,3,"Allum, Mr. Owen George",male,18.00,2223,8.3000,NaN
835,836,1,1,"Compton, Miss. Sara Rebecca",female,39.00,PC 17756,83.1583,E49
836,837,0,3,"Pasic, Mr. Jakob",male,21.00,315097,8.6625,NaN
837,838,0,3,"Sirota, Mr. Maurice",male,NaN,392092,8.0500,NaN
838,839,1,3,"Chip, Mr. Chang",male,32.00,1601,56.4958,NaN
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,11774,29.7000,C47
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.00,SOTON/O2 3101287,7.9250,NaN
841,842,0,2,"Mudd, Mr. Thomas Charles",male,16.00,S.O./P.P. 3,10.5000,NaN
842,843,1,1,"Serepeca, Miss. Augusta",female,30.00,113798,31.0000,NaN
843,844,0,3,"Lemberopolous, Mr. Peter L",male,34.50,2683,6.4375,NaN
844,845,0,3,"Culumovic, Mr. Jeso",male,17.00,315090,8.6625,NaN
845,846,0,3,"Abbing, Mr. Anthony",male,42.00,C.A. 5547,7.5500,NaN
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,CA. 2343,69.5500,NaN
847,848,0,3,"Markoff, Mr. Marin",male,35.00,349213,7.8958,NaN
848,849,0,2,"Harper, Rev. John",male,28.00,248727,33.0000,NaN
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,17453,89.1042,C92
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,347082,31.2750,NaN
851,852,0,3,"Svensson, Mr. Johan",male,74.00,347060,7.7750,NaN
852,853,0,3,"Boulos, Miss. Nourelain",female,9.00,2678,15.2458,NaN
853,854,1,1,"Lines, Miss. Mary Conover",female,16.00,PC 17592,39.4000,D28
854,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.00,244252,26.0000,NaN
855,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.00,392091,9.3500,NaN
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.00,36928,164.8667,NaN
857,858,1,1,"Daly, Mr. Peter Denis",male,51.00,113055,26.5500,E17
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.00,2666,19.2583,NaN
859,860,0,3,"Razi, Mr. Raihed",male,NaN,2629,7.2292,NaN
860,861,0,3,"Hansen, Mr. Claus Peter",male,41.00,350026,14.1083,NaN
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.00,28134,11.5000,NaN
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.00,17466,25.9292,D17
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,CA. 2343,69.5500,NaN
864,865,0,2,"Gill, Mr. John William",male,24.00,233866,13.0000,NaN
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.00,236852,13.0000,NaN
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.00,SC/PARIS 2149,13.8583,NaN
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.00,PC 17590,50.4958,A24
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,345777,9.5000,NaN
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,347742,11.1333,NaN
870,871,0,3,"Balkic, Mr. Cerin",male,26.00,349248,7.8958,NaN
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.00,11751,52.5542,D35
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.00,695,5.0000,B51 B53 B55
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.00,345765,9.0000,NaN
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.00,P/PP 3381,24.0000,NaN
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.00,2667,7.2250,NaN
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.00,7534,9.8458,NaN
877,878,0,3,"Petroff, Mr. Nedelio",male,19.00,349212,7.8958,NaN
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,349217,7.8958,NaN
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.00,11767,83.1583,C50
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.00,230433,26.0000,NaN
881,882,0,3,"Markun, Mr. Johann",male,33.00,349257,7.8958,NaN
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.00,7552,10.5167,NaN
883,884,0,2,"Banfield, Mr. Frederick James",male,28.00,C.A./SOTON 34068,10.5000,NaN
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.00,SOTON/OQ 392076,7.0500,NaN
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.00,382652,29.1250,NaN
886,887,0,2,"Montvila, Rev. Juozas",male,27.00,211536,13.0000,NaN
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.00,112053,30.0000,B42
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,W./C. 6607,23.4500,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.00,111369,30.0000,C148
890,891,0,3,"Dooley, Mr. Patrick",male,32.00,370376,7.7500,NaN

###### Display specific columns

In [ ]:
## emplyee name

In [16]:
df['Name']

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [13]:
df.Age

0      22.00
1      38.00
2      26.00
3      35.00
4      35.00
5        NaN
6      54.00
7       2.00
8      27.00
9      14.00
10      4.00
11     58.00
12     20.00
13     39.00
14     14.00
15     55.00
16      2.00
17       NaN
18     31.00
19       NaN
20     35.00
21     34.00
22     15.00
23     28.00
24      8.00
25     38.00
26       NaN
27     19.00
28       NaN
29       NaN
30     40.00
31       NaN
32       NaN
33     66.00
34     28.00
35     42.00
36       NaN
37     21.00
38     18.00
39     14.00
40     40.00
41     27.00
42       NaN
43      3.00
44     19.00
45       NaN
46       NaN
47       NaN
48       NaN
49     18.00
50      7.00
51     21.00
52     49.00
53     29.00
54     65.00
55       NaN
56     21.00
57     28.50
58      5.00
59     11.00
60     22.00
61     38.00
62     45.00
63      4.00
64       NaN
65       NaN
66     29.00
67     19.00
68     17.00
69     26.00
70     32.00
71     16.00
72     21.00
73     26.00
74     32.00
75     25.00
76       NaN
77       NaN
78      0.83
79     30.00
80     22.00
81     29.00
82       NaN
83     28.00
84     17.00
85     33.00
86     16.00
87       NaN
88     23.00
89     24.00
90     29.00
91     20.00
92     46.00
93     26.00
94     59.00
95       NaN
96     71.00
97     23.00
98     34.00
99     34.00
100    28.00
101      NaN
102    21.00
103    33.00
104    37.00
105    28.00
106    21.00
107      NaN
108    38.00
109      NaN
110    47.00
111    14.50
112    22.00
113    20.00
114    17.00
115    21.00
116    70.50
117    29.00
118    24.00
119     2.00
120    21.00
121      NaN
122    32.50
123    32.50
124    54.00
125    12.00
126      NaN
127    24.00
128      NaN
129    45.00
130    33.00
131    20.00
132    47.00
133    29.00
134    25.00
135    23.00
136    19.00
137    37.00
138    16.00
139    24.00
140      NaN
141    22.00
142    24.00
143    19.00
144    18.00
145    19.00
146    27.00
147     9.00
148    36.50
149    42.00
150    51.00
151    22.00
152    55.50
153    40.50
154      NaN
155    51.00
156    16.00
157    30.00
158      NaN
159      NaN
160    44.00
161    40.00
162    26.00
163    17.00
164     1.00
165     9.00
166      NaN
167    45.00
168      NaN
169    28.00
170    61.00
171     4.00
172     1.00
173    21.00
174    56.00
175    18.00
176      NaN
177    50.00
178    30.00
179    36.00
180      NaN
181      NaN
182     9.00
183     1.00
184     4.00
185      NaN
186      NaN
187    45.00
188    40.00
189    36.00
190    32.00
191    19.00
192    19.00
193     3.00
194    44.00
195    58.00
196      NaN
197    42.00
198      NaN
199    24.00
200    28.00
201      NaN
202    34.00
203    45.50
204    18.00
205     2.00
206    32.00
207    26.00
208    16.00
209    40.00
210    24.00
211    35.00
212    22.00
213    30.00
214      NaN
215    31.00
216    27.00
217    42.00
218    32.00
219    30.00
220    16.00
221    27.00
222    51.00
223      NaN
224    38.00
225    22.00
226    19.00
227    20.50
228    18.00
229      NaN
230    35.00
231    29.00
232    59.00
233     5.00
234    24.00
235      NaN
236    44.00
237     8.00
238    19.00
239    33.00
240      NaN
241      NaN
242    29.00
243    22.00
244    30.00
245    44.00
246    25.00
247    24.00
248    37.00
249    54.00
250      NaN
251    29.00
252    62.00
253    30.00
254    41.00
255    29.00
256      NaN
257    30.00
258    35.00
259    50.00
260      NaN
261     3.00
262    52.00
263    40.00
264      NaN
265    36.00
266    16.00
267    25.00
268    58.00
269    35.00
270      NaN
271    25.00
272    41.00
273    37.00
274      NaN
275    63.00
276    45.00
277      NaN
278     7.00
279    35.00
280    65.00
281    28.00
282    16.00
283    19.00
284      NaN
285    33.00
286    30.00
287    22.00
288    42.00
289    22.00
290    26.00
291    19.00
292    36.00
293    24.00
294    24.00
295      NaN
296    23.50
297     2.00
298      NaN
299    50.00
300      NaN
301      NaN
302    19.00
303      NaN
304      NaN
305     0.92
306      NaN
307    17.00
308    30.00
309    30.00
310    24.00
311    18.00
312    26.00
313    28.00
314    43.00
315    26.00
316    24.00
317    54.00
318    31.00
319    40.00
320    22.00
321    27.00
322    30.00
323    22.00
324      NaN
325    36.00
326    61.00
327    36.00
328    31.00
329    16.00
330      NaN
331    45.50
332    38.00
333    16.00
334      NaN
335      NaN
336    29.00
337    41.00
338    45.00
339    45.00
340     2.00
341    24.00
342    28.00
343    25.00
344    36.00
345    24.00
346    40.00
347      NaN
348     3.00
349    42.00
350    23.00
351      NaN
352    15.00
353    25.00
354      NaN
355    28.00
356    22.00
357    38.00
358      NaN
359      NaN
360    40.00
361    29.00
362    45.00
363    35.00
364      NaN
365    30.00
366    60.00
367      NaN
368      NaN
369    24.00
370    25.00
371    18.00
372    19.00
373    22.00
374     3.00
375      NaN
376    22.00
377    27.00
378    20.00
379    19.00
380    42.00
381     1.00
382    32.00
383    35.00
384      NaN
385    18.00
386     1.00
387    36.00
388      NaN
389    17.00
390    36.00
391    21.00
392    28.00
393    23.00
394    24.00
395    22.00
396    31.00
397    46.00
398    23.00
399    28.00
400    39.00
401    26.00
402    21.00
403    28.00
404    20.00
405    34.00
406    51.00
407     3.00
408    21.00
409      NaN
410      NaN
411      NaN
412    33.00
413      NaN
414    44.00
415      NaN
416    34.00
417    18.00
418    30.00
419    10.00
420      NaN
421    21.00
422    29.00
423    28.00
424    18.00
425      NaN
426    28.00
427    19.00
428      NaN
429    32.00
430    28.00
431      NaN
432    42.00
433    17.00
434    50.00
435    14.00
436    21.00
437    24.00
438    64.00
439    31.00
440    45.00
441    20.00
442    25.00
443    28.00
444      NaN
445     4.00
446    13.00
447    34.00
448     5.00
449    52.00
450    36.00
451      NaN
452    30.00
453    49.00
454      NaN
455    29.00
456    65.00
457      NaN
458    50.00
459      NaN
460    48.00
461    34.00
462    47.00
463    48.00
464      NaN
465    38.00
466      NaN
467    56.00
468      NaN
469     0.75
470      NaN
471    38.00
472    33.00
473    23.00
474    22.00
475      NaN
476    34.00
477    29.00
478    22.00
479     2.00
480     9.00
481      NaN
482    50.00
483    63.00
484    25.00
485      NaN
486    35.00
487    58.00
488    30.00
489     9.00
490      NaN
491    21.00
492    55.00
493    71.00
494    21.00
495      NaN
496    54.00
497      NaN
498    25.00
499    24.00
500    17.00
501    21.00
502      NaN
503    37.00
504    16.00
505    18.00
506    33.00
507      NaN
508    28.00
509    26.00
510    29.00
511      NaN
512    36.00
513    54.00
514    24.00
515    47.00
516    34.00
517      NaN
518    36.00
519    32.00
520    30.00
521    22.00
522      NaN
523    44.00
524      NaN
525    40.50
526    50.00
527      NaN
528    39.00
529    23.00
530     2.00
531      NaN
532    17.00
533      NaN
534    30.00
535     7.00
536    45.00
537    30.00
538      NaN
539    22.00
540    36.00
541     9.00
542    11.00
543    32.00
544    50.00
545    64.00
546    19.00
547      NaN
548    33.00
549     8.00
550    17.00
551    27.00
552      NaN
553    22.00
554    22.00
555    62.00
556    48.00
557      NaN
558    39.00
559    36.00
560      NaN
561    40.00
562    28.00
563      NaN
564      NaN
565    24.00
566    19.00
567    29.00
568      NaN
569    32.00
570    62.00
571    53.00
572    36.00
573      NaN
574    16.00
575    19.00
576    34.00
577    39.00
578      NaN
579    32.00
580    25.00
581    39.00
582    54.00
583    36.00
584      NaN
585    18.00
586    47.00
587    60.00
588    22.00
589      NaN
590    35.00
591    52.00
592    47.00
593      NaN
594    37.00
595    36.00
596      NaN
597    49.00
598      NaN
599    49.00
600    24.00
601      NaN
602      NaN
603    44.00
604    35.00
605    36.00
606    30.00
607    27.00
608    22.00
609    40.00
610    39.00
611      NaN
612      NaN
613      NaN
614    35.00
615    24.00
616    34.00
617    26.00
618     4.00
619    26.00
620    27.00
621    42.00
622    20.00
623    21.00
624    21.00
625    61.00
626    57.00
627    21.00
628    26.00
629      NaN
630    80.00
631    51.00
632    32.00
633      NaN
634     9.00
635    28.00
636    32.00
637    31.00
638    41.00
639      NaN
640    20.00
641    24.00
642     2.00
643      NaN
644     0.75
645    48.00
646    19.00
647    56.00
648      NaN
649    23.00
650      NaN
651    18.00
652    21.00
653      NaN
654    18.00
655    24.00
656      NaN
657    32.00
658    23.00
659    58.00
660    50.00
661    40.00
662    47.00
663    36.00
664    20.00
665    32.00
666    25.00
667      NaN
668    43.00
669      NaN
670    40.00
671    31.00
672    70.00
673    31.00
674      NaN
675    18.00
676    24.50
677    18.00
678    43.00
679    36.00
680      NaN
681    27.00
682    20.00
683    14.00
684    60.00
685    25.00
686    14.00
687    19.00
688    18.00
689    15.00
690    31.00
691     4.00
692      NaN
693    25.00
694    60.00
695    52.00
696    44.00
697      NaN
698    49.00
699    42.00
700    18.00
701    35.00
702    18.00
703    25.00
704    26.00
705    39.00
706    45.00
707    42.00
708    22.00
709      NaN
710    24.00
711      NaN
712    48.00
713    29.00
714    52.00
715    19.00
716    38.00
717    27.00
718      NaN
719    33.00
720     6.00
721    17.00
722    34.00
723    50.00
724    27.00
725    20.00
726    30.00
727      NaN
728    25.00
729    25.00
730    29.00
731    11.00
732      NaN
733    23.00
734    23.00
735    28.50
736    48.00
737    35.00
738      NaN
739      NaN
740      NaN
741    36.00
742    21.00
743    24.00
744    31.00
745    70.00
746    16.00
747    30.00
748    19.00
749    31.00
750     4.00
751     6.00
752    33.00
753    23.00
754    48.00
755     0.67
756    28.00
757    18.00
758    34.00
759    33.00
760      NaN
761    41.00
762    20.00
763    36.00
764    16.00
765    51.00
766      NaN
767    30.50
768      NaN
769    32.00
770    24.00
771    48.00
772    57.00
773      NaN
774    54.00
775    18.00
776      NaN
777     5.00
778      NaN
779    43.00
780    13.00
781    17.00
782    29.00
783      NaN
784    25.00
785    25.00
786    18.00
787     8.00
788     1.00
789    46.00
790      NaN
791    16.00
792      NaN
793      NaN
794    25.00
795    39.00
796    49.00
797    31.00
798    30.00
799    30.00
800    34.00
801    31.00
802    11.00
803     0.42
804    27.00
805    31.00
806    39.00
807    18.00
808    39.00
809    33.00
810    26.00
811    39.00
812    35.00
813     6.00
814    30.50
815      NaN
816    23.00
817    31.00
818    43.00
819    10.00
820    52.00
821    27.00
822    38.00
823    27.00
824     2.00
825      NaN
826      NaN
827     1.00
828      NaN
829    62.00
830    15.00
831     0.83
832      NaN
833    23.00
834    18.00
835    39.00
836    21.00
837      NaN
838    32.00
839      NaN
840    20.00
841    16.00
842    30.00
843    34.50
844    17.00
845    42.00
846      NaN
847    35.00
848    28.00
849      NaN
850     4.00
851    74.00
852     9.00
853    16.00
854    44.00
855    18.00
856    45.00
857    51.00
858    24.00
859      NaN
860    41.00
861    21.00
862    48.00
863      NaN
864    24.00
865    42.00
866    27.00
867    31.00
868      NaN
869     4.00
870    26.00
871    47.00
872    33.00
873    47.00
874    28.00
875    15.00
876    20.00
877    19.00
878      NaN
879    56.00
880    25.00
881    33.00
882    22.00
883    28.00
884    25.00
885    39.00
886    27.00
887    19.00
888      NaN
889    26.00
890    32.00
Name: Age, dtype: float64

###### How many rows and columns in the data frame

In [19]:
df.shape

(891, 9)

###### info , max ,  min , median , mean , value counts

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   Ticket       891 non-null    object
 7   Fare         891 non-null    float64
 8   Cabin        204 non-null    object
dtypes: float64(2), int64(3), object(4)
memory usage: 62.8+ KB

In [27]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [22]:
df.Age.max()

80.0

In [23]:
df.Age.min()

0.42

In [24]:
df.Age.median()

28.0

In [25]:
df.Age.mean()

29.69911764705882

###### Show statistic numbers of the data frame

In [28]:
df.describe()

       PassengerId    Survived      Pclass         Age        Fare
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118   32.204208
std     257.353842    0.486592    0.836071   14.526497   49.693429
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    7.910400
50%     446.000000    0.000000    3.000000   28.000000   14.454200
75%     668.500000    1.000000    3.000000   38.000000   31.000000
max     891.000000    1.000000    3.000000   80.000000  512.329200

###### Is it null ?

In [30]:
sum(pd.isnull(df.Age))

177

In [31]:
x = pd.isnull(df.Age)

In [32]:
df[x]

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin
5,6,0,3,"Moran, Mr. James",male,NaN,330877,8.4583,NaN
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,244373,13.0000,NaN
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,2649,7.2250,NaN
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,2631,7.2250,NaN
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,330959,7.8792,NaN
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,349216,7.8958,NaN
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,PC 17569,146.5208,B78
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,335677,7.7500,NaN
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,2677,7.2292,NaN
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,349253,7.8958,NaN
45,46,0,3,"Rogers, Mr. William John",male,NaN,S.C./A.4. 23567,8.0500,NaN
46,47,0,3,"Lennon, Mr. Denis",male,NaN,370371,15.5000,NaN
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,14311,7.7500,NaN
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2662,21.6792,NaN
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,19947,35.5000,C52
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,PC 17605,27.7208,NaN
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,2661,15.2458,NaN
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,349208,7.8958,NaN
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,374746,8.0500,NaN
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,330932,7.7875,NaN
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,SOTON/OQ 392086,8.0500,NaN
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,374910,8.0500,NaN
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,349215,7.8958,NaN
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,312991,7.7750,NaN
109,110,1,3,"Moran, Miss. Bertha",female,NaN,371110,24.1500,NaN
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,A4. 54510,8.0500,NaN
126,127,0,3,"McMahon, Mr. Martin",male,NaN,370372,7.7500,NaN
128,129,1,3,"Peter, Miss. Anna",female,NaN,2668,22.3583,F E69
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,2678,15.2458,NaN
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,Fa 265302,7.3125,NaN
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,315037,8.6625,NaN
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,CA. 2343,69.5500,NaN
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,113505,55.0000,E33
168,169,0,1,"Baumann, Mr. John D",male,NaN,PC 17318,25.9250,NaN
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,4133,25.4667,NaN
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,CA. 2343,69.5500,NaN
181,182,0,2,"Pernot, Mr. Rene",male,NaN,SC/PARIS 2131,15.0500,NaN
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,113767,50.0000,A32
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,370365,15.5000,NaN
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,368703,7.7500,NaN
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,370370,7.7500,NaN
201,202,0,3,"Sage, Mr. Frederick",male,NaN,CA. 2343,69.5500,NaN
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,367229,7.7500,NaN
223,224,0,3,"Nenkoff, Mr. Christo",male,NaN,349234,7.8958,NaN
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,4133,25.4667,NaN
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,W./C. 6609,7.5500,NaN
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,2665,14.4542,NaN
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,367230,15.5000,NaN
250,251,0,3,"Reed, Mr. James George",male,NaN,362316,7.2500,NaN
256,257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,PC 17585,79.2000,NaN
260,261,0,3,"Smith, Mr. Thomas",male,NaN,384461,7.7500,NaN
264,265,0,3,"Henry, Miss. Delia",female,NaN,382649,7.7500,NaN
270,271,0,1,"Cairns, Mr. Alexander",male,NaN,113798,31.0000,NaN
274,275,1,3,"Healy, Miss. Hanora ""Nora""",female,NaN,370375,7.7500,NaN
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,239853,0.0000,NaN
284,285,0,1,"Smith, Mr. Richard William",male,NaN,113056,26.0000,A19
295,296,0,1,"Lewy, Mr. Ervin G",male,NaN,PC 17612,27.7208,NaN
298,299,1,1,"Saalfeld, Mr. Adolphe",male,NaN,19988,30.5000,C106
300,301,1,3,"Kelly, Miss. Anna Katherine ""Annie Kate""",female,NaN,9234,7.7500,NaN
301,302,1,3,"McCoy, Mr. Bernard",male,NaN,367226,23.2500,NaN
303,304,1,2,"Keane, Miss. Nora A",female,NaN,226593,12.3500,E101
304,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,A/5 2466,8.0500,NaN
306,307,1,1,"Fleming, Miss. Margaret",female,NaN,17421,110.8833,NaN
324,325,0,3,"Sage, Mr. George John Jr",male,NaN,CA. 2343,69.5500,NaN
330,331,1,3,"McCoy, Miss. Agnes",female,NaN,367226,23.2500,NaN
334,335,1,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,NaN,PC 17611,133.6500,NaN
335,336,0,3,"Denkoff, Mr. Mitto",male,NaN,349225,7.8958,NaN
347,348,1,3,"Davison, Mrs. Thomas Henry (Mary E Finck)",female,NaN,386525,16.1000,NaN
351,352,0,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,113510,35.0000,C128
354,355,0,3,"Yousif, Mr. Wazli",male,NaN,2647,7.2250,NaN
358,359,1,3,"McGovern, Miss. Mary",female,NaN,330931,7.8792,NaN
359,360,1,3,"Mockler, Miss. Helen Mary ""Ellie""",female,NaN,330980,7.8792,NaN
364,365,0,3,"O'Brien, Mr. Thomas",male,NaN,370365,15.5000,NaN
367,368,1,3,"Moussa, Mrs. (Mantoura Boulos)",female,NaN,2626,7.2292,NaN
368,369,1,3,"Jermyn, Miss. Annie",female,NaN,14313,7.7500,NaN
375,376,1,1,"Meyer, Mrs. Edgar Joseph (Leila Saks)",female,NaN,PC 17604,82.1708,NaN
384,385,0,3,"Plotcharsky, Mr. Vasil",male,NaN,349227,7.8958,NaN
388,389,0,3,"Sadlier, Mr. Matthew",male,NaN,367655,7.7292,NaN
409,410,0,3,"Lefebre, Miss. Ida",female,NaN,4133,25.4667,NaN
410,411,0,3,"Sdycoff, Mr. Todor",male,NaN,349222,7.8958,NaN
411,412,0,3,"Hart, Mr. Henry",male,NaN,394140,6.8583,NaN
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,239853,0.0000,NaN
415,416,0,3,"Meek, Mrs. Thomas (Annie Louise Rowley)",female,NaN,343095,8.0500,NaN
420,421,0,3,"Gheorgheff, Mr. Stanio",male,NaN,349254,7.8958,NaN
425,426,0,3,"Wiseman, Mr. Phillippe",male,NaN,A/4. 34244,7.2500,NaN
428,429,0,3,"Flynn, Mr. James",male,NaN,364851,7.7500,NaN
431,432,1,3,"Thorneycroft, Mrs. Percival (Florence Kate White)",female,NaN,376564,16.1000,NaN
444,445,1,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,65306,8.1125,NaN
451,452,0,3,"Hagland, Mr. Ingvald Olai Olsen",male,NaN,65303,19.9667,NaN
454,455,0,3,"Peduzzi, Mr. Joseph",male,NaN,A/5 2817,8.0500,NaN
457,458,1,1,"Kenyon, Mrs. Frederick R (Marion)",female,NaN,17464,51.8625,D21
459,460,0,3,"O'Connor, Mr. Maurice",male,NaN,371060,7.7500,NaN
464,465,0,3,"Maisner, Mr. Simon",male,NaN,A/S 2816,8.0500,NaN
466,467,0,2,"Campbell, Mr. William",male,NaN,239853,0.0000,NaN
468,469,0,3,"Scanlan, Mr. James",male,NaN,36209,7.7250,NaN
470,471,0,3,"Keefe, Mr. Arthur",male,NaN,323592,7.2500,NaN
475,476,0,1,"Clifford, Mr. George Quincy",male,NaN,110465,52.0000,A14
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,239854,0.0000,NaN
485,486,0,3,"Lefebre, Miss. Jeannie",female,NaN,4133,25.4667,NaN
490,491,0,3,"Hagland, Mr. Konrad Mathias Reiersen",male,NaN,65304,19.9667,NaN
495,496,0,3,"Yousseff, Mr. Gerious",male,NaN,2627,14.4583,NaN
497,498,0,3,"Shellard, Mr. Frederick William",male,NaN,C.A. 6212,15.1000,NaN
502,503,0,3,"O'Sullivan, Miss. Bridget Mary",female,NaN,330909,7.6292,NaN
507,508,1,1,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,111427,26.5500,NaN
511,512,0,3,"Webber, Mr. James",male,NaN,SOTON/OQ 3101316,8.0500,NaN
517,518,0,3,"Ryan, Mr. Patrick",male,NaN,371110,24.1500,NaN
522,523,0,3,"Lahoud, Mr. Sarkis",male,NaN,2624,7.2250,NaN
524,525,0,3,"Kassem, Mr. Fared",male,NaN,2700,7.2292,NaN
527,528,0,1,"Farthing, Mr. John",male,NaN,PC 17483,221.7792,C95
531,532,0,3,"Toufik, Mr. Nakli",male,NaN,2641,7.2292,NaN
533,534,1,3,"Peter, Mrs. Catherine (Catherine Rizk)",female,NaN,2668,22.3583,NaN
538,539,0,3,"Risien, Mr. Samuel Beard",male,NaN,364498,14.5000,NaN
547,548,1,2,"Padro y Manent, Mr. Julian",male,NaN,SC/PARIS 2146,13.8625,NaN
552,553,0,3,"O'Brien, Mr. Timothy",male,NaN,330979,7.8292,NaN
557,558,0,1,"Robbins, Mr. Victor",male,NaN,PC 17757,227.5250,NaN
560,561,0,3,"Morrow, Mr. Thomas Rowan",male,NaN,372622,7.7500,NaN
563,564,0,3,"Simmons, Mr. John",male,NaN,SOTON/OQ 392082,8.0500,NaN
564,565,0,3,"Meanwell, Miss. (Marion Ogden)",female,NaN,SOTON/O.Q. 392087,8.0500,NaN
568,569,0,3,"Doharr, Mr. Tannous",male,NaN,2686,7.2292,NaN
573,574,1,3,"Kelly, Miss. Mary",female,NaN,14312,7.7500,NaN
578,579,0,3,"Caram, Mrs. Joseph (Maria Elias)",female,NaN,2689,14.4583,NaN
584,585,0,3,"Paulner, Mr. Uscher",male,NaN,3411,8.7125,NaN
589,590,0,3,"Murdlin, Mr. Joseph",male,NaN,A./5. 3235,8.0500,NaN
593,594,0,3,"Bourke, Miss. Mary",female,NaN,364848,7.7500,NaN
596,597,1,2,"Leitch, Miss. Jessie Wills",female,NaN,248727,33.0000,NaN
598,599,0,3,"Boulos, Mr. Hanna",male,NaN,2664,7.2250,NaN
601,602,0,3,"Slabenoff, Mr. Petco",male,NaN,349214,7.8958,NaN
602,603,0,1,"Harrington, Mr. Charles H",male,NaN,113796,42.4000,NaN
611,612,0,3,"Jardin, Mr. Jose Neto",male,NaN,SOTON/O.Q. 3101305,7.0500,NaN
612,613,1,3,"Murphy, Miss. Margaret Jane",female,NaN,367230,15.5000,NaN
613,614,0,3,"Horgan, Mr. John",male,NaN,370377,7.7500,NaN
629,630,0,3,"O'Connell, Mr. Patrick D",male,NaN,334912,7.7333,NaN
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,112052,0.0000,NaN
639,640,0,3,"Thorneycroft, Mr. Percival",male,NaN,376564,16.1000,NaN
643,644,1,3,"Foo, Mr. Choong",male,NaN,1601,56.4958,NaN
648,649,0,3,"Willey, Mr. Edward",male,NaN,S.O./P.P. 751,7.5500,NaN
650,651,0,3,"Mitkoff, Mr. Mito",male,NaN,349221,7.8958,NaN
653,654,1,3,"O'Leary, Miss. Hanora ""Norah""",female,NaN,330919,7.8292,NaN
656,657,0,3,"Radeff, Mr. Alexander",male,NaN,349223,7.8958,NaN
667,668,0,3,"Rommetvedt, Mr. Knud Paust",male,NaN,312993,7.7750,NaN
669,670,1,1,"Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)",female,NaN,19996,52.0000,C126
674,675,0,2,"Watson, Mr. Ennis Hastings",male,NaN,239856,0.0000,NaN
680,681,0,3,"Peters, Miss. Katie",female,NaN,330935,8.1375,NaN
692,693,1,3,"Lam, Mr. Ali",male,NaN,1601,56.4958,NaN
697,698,1,3,"Mullens, Miss. Katherine ""Katie""",female,NaN,35852,7.7333,NaN
709,710,1,3,"Moubarek, Master. Halim Gonios (""William George"")",male,NaN,2661,15.2458,NaN
711,712,0,1,"Klaber, Mr. Herman",male,NaN,113028,26.5500,C124
718,719,0,3,"McEvoy, Mr. Michael",male,NaN,36568,15.5000,NaN
727,728,1,3,"Mannion, Miss. Margareth",female,NaN,36866,7.7375,NaN
732,733,0,2,"Knight, Mr. Robert J",male,NaN,239855,0.0000,NaN
738,739,0,3,"Ivanoff, Mr. Kanio",male,NaN,349201,7.8958,NaN
739,740,0,3,"Nankoff, Mr. Minko",male,NaN,349218,7.8958,NaN
740,741,1,1,"Hawksford, Mr. Walter James",male,NaN,16988,30.0000,D45
760,761,0,3,"Garfirth, Mr. John",male,NaN,358585,14.5000,NaN
766,767,0,1,"Brewe, Dr. Arthur Jackson",male,NaN,112379,39.6000,NaN
768,769,0,3,"Moran, Mr. Daniel J",male,NaN,371110,24.1500,NaN
773,774,0,3,"Elias, Mr. Dibo",male,NaN,2674,7.2250,NaN
776,777,0,3,"Tobin, Mr. Roger",male,NaN,383121,7.7500,F38
778,779,0,3,"Kilgannon, Mr. Thomas J",male,NaN,36865,7.7375,NaN
783,784,0,3,"Johnston, Mr. Andrew G",male,NaN,W./C. 6607,23.4500,NaN
790,791,0,3,"Keane, Mr. Andrew ""Andy""",male,NaN,12460,7.7500,NaN
792,793,0,3,"Sage, Miss. Stella Anna",female,NaN,CA. 2343,69.5500,NaN
793,794,0,1,"Hoyt, Mr. William Fisher",male,NaN,PC 17600,30.6958,NaN
815,816,0,1,"Fry, Mr. Richard",male,NaN,112058,0.0000,B102
825,826,0,3,"Flynn, Mr. John",male,NaN,368323,6.9500,NaN
826,827,0,3,"Lam, Mr. Len",male,NaN,1601,56.4958,NaN
828,829,1,3,"McCormack, Mr. Thomas Joseph",male,NaN,367228,7.7500,NaN
832,833,0,3,"Saad, Mr. Amin",male,NaN,2671,7.2292,NaN
837,838,0,3,"Sirota, Mr. Maurice",male,NaN,392092,8.0500,NaN
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,11774,29.7000,C47
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,CA. 2343,69.5500,NaN
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,17453,89.1042,C92
859,860,0,3,"Razi, Mr. Raihed",male,NaN,2629,7.2292,NaN
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,CA. 2343,69.5500,NaN
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,345777,9.5000,NaN
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,349217,7.8958,NaN
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,W./C. 6607,23.4500,NaN

###### Is it Dublicated ?

In [36]:
sum(df['Age'].duplicated())

802